.bg-hero-image{
    background-image: url("imgs/brickbg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lilita One', sans-serif;
}
body{
  background-image:url("imgs/window.gif") ; 
  /* gif from https://tenor.com/view/neon-neon-city-city-rain-lights-city-gif-27006540*/
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}

.navbar-brand {
  color: white;
  font-family: 'Lilita One', sans-serif;
}
.navbar-brand:hover{
  color: rgb(236, 19, 207);
  font-family: 'Lilita One', sans-serif;
}
.nav-link{
  color: white;
  font-family: 'Lilita One', sans-serif;
}
.nav-link:visited{
  color: #ffffff;
  font-family: 'Lilita One', sans-serif;
}
.nav-link:hover{
  color: rgb(236, 19, 207);
  font-family: 'Lilita One', sans-serif;
}

.nav-link:active{
  color: #1b3ed8;
  font-family: 'Lilita One', sans-serif;
}

.navbar-toggler-icon{
  color: #ffffff;
  font-family: 'Lilita One', sans-serif;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(255, 255, 255);

}
.card{
  animation: border 50s infinite;
  color: #ffffff;
}
.card-body{
  animation: fade 50s infinite;
  color: #ffffff;
  font-family: 'Lilita One', sans-serif;
}


@keyframes fade {
  10% {background-color:#421ad1;}
 


  25% {background-color: rgb(177, 18, 182);}

  50% {background-color: #0888ff;}
  75% {background-color: #1a1dd1;}
  90% {background-color: #c419a8;}
  100%{background-color: #421ad1;}
}
@keyframes border {
  10% {border-color:#421ad1;}
 


  25% {border-color: rgb(177, 18, 182);}

  50% {border-color: #0888ff;}
  75% {border-color: #1a1dd1;}
  90% {border-color: #c419a8;}
  100%{border-color: #421ad1;}
}
.dropdown-menu{
  animation: fade 50s infinite;
  color: #ffffff;
  font-family: 'Lilita One', sans-serif;
}
.dropdown-item{
  color: #ffffff;
  font-family: 'Lilita One', sans-serif;
}
.dropdown-item:hover{
 color: #c419a8;
  font-family: 'Lilita One', sans-serif;
}