.bg-hero-image{
    background-image: url("https://picsum.photos/1300/500");
    background-position: center center;
}
body{
  background-image:url("imgs/window.gif") ; 
  /* gif from https://tenor.com/view/neon-neon-city-city-rain-lights-city-gif-27006540*/
  background-repeat: no-repeat;
  color: white;
  background-size: contain;
}

.navbar-brand {
  color: white;
}
.navbar-brand:hover{
  color: rgb(18, 239, 255);
}
.nav-link{
  color: white;
}
.nav-link:visited{
  color: white;
}
.nav-link:hover{
  color: white;
}
.nav-link:active{
  color: white;
}
.nav-link active{
  color: #ffffff;
}

.navbar-toggler-icon{
  color: #ffffff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(255, 255, 255);
}

